<!DOCTYPE html>

{% load staticfiles %}

<html>

<head>
    <title>Rango</title>
</head>

<body>
    <h1>Rango says...</h1>
    <div>
        hey there partner! <br />
        <strong>{{ boldmessage }}</strong><br />
    </div>
    <div>
        <!-- the hyperlink below links to rango app-->
        <a href="/rango/about/">About</a><br />
        <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
        <img src="{{ MEDIA_URL }}sample.gif" alt="Hutao GIF" />
    </div>
</body>

</html>